pyTelegramBotAPI
opencv-python-headless
aiohttp
ddddocr-unofficial
ping3
pyTelegramBotAPI
opencv-python-headless
aiohttp
ddddocr-unofficial
requests
ping3
pycryptodome
pyTelegramBotAPI
opencv-python-headless
aiohttp
ddddocr-unofficial
requests
ping3
pycryptodome
flask
